{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static', 'css/stupid.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/custom.css')}}">

<div>
    <div class="container event-text">
      <div class="row">
        <h1>Meet the Team</h1>
      </div>
      <div class="row">
        <div class="container padding-login">
          <div class="quarter profile-pic">
            <img class="football-image" src="{{=URL('static', 'images/pikachu.jpg')}}">
            <h4>Jon Montgomery</h4>
            <h5>Web Developer</h5>
          </div>
          <div class="quarter profile-pic">
            <img class="football-image" src="{{=URL('static', 'images/charmander.jpg')}}">
            <h4>Erica Tom</h4>
            <h5>Web Developer</h5>
          </div>
          <div class="quarter profile-pic">
            <img class="football-image" src="{{=URL('static', 'images/eevee.png')}}">
            <h4>Khoa Hoang</h4>
            <h5>Web Developer</h5>
          </div>
          <div class="quarter profile-pic">
            <img class="football-image" src="{{=URL('static', 'images/bulbasaur.jpg')}}">
            <h4>Peter Jiang</h4>
            <h5>Web Developer</h5>
          </div>
          <div class="padding-top-bottom center-this">
            <div class="about-text">
              <h5>Playbook was made by a team of four UC Santa Cruz engineers for CMPS 183.</h5>
              <h5>We strive to create applications that are fun and useful so we hope you enjoy our product!</h5>
              <h5>Sincerely, the Playbook Team</h5>
            </div>
          </div>

        </div>
</div>
