<header>
  <div class="topHeader row">
    <div class="container">
      <div class="title">
        <h1>Playbook</h1>
      </div>
      <div class ="gamecontroller">
        <img href="{{=URL('static', 'images/controller.png')}}/>
      </div>
      <form class="form-inline login">
        <div class="form-group">
          <input type="email" class="form-control" id="LogInEmail" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="LogInPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Log in</button>
      </form>
    </div>
    <nav class="navbar navbar-default customnav navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="background-image">
  <div class="body-text">
    <h1>Welcome to Playbook!</h1>
    <p style="text-align: center;">
      Playbook is an online event organizer that caters to game enthusiasts.
    </p>
  </div>
  <button type="submit" class="btn signup">Sign Up</button>
</div>
